@charset "UTF-8";
@font-face {
    font-family: 'Impact';
    src: url('impact-maisfontes.6269/impact.ttf') format('truetype');
    font-weight: normal;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 100px;
    background-image: radial-gradient(#1c1c1c, #000000);
    background-size: cover;
    width: 100%;
    background: black url(https://i.pinimg.com/originals/bf/82/f6/bf82f6956a32819af48c2572243e8286.jpg) center center no-repeat fixed;
    background-size: cover;
    height: 100vh;
}
header{
    background-image: linear-gradient(to top,#330303,rgb(105, 0, 0),rgb(105, 0, 0));
    color: silver;
    width: 100%;
    display: inline-flex;
    height: 100px;
    position: fixed;
    top: 0%;
    text-shadow: 3px 4px 3px black;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.904);
}
/*LOGO*/
header figure{
    display: flex;
    width: 100%;
    align-items: center;
}
header figure img{
    width: 80px;
    margin-right: 10px;
    margin-left: 30px;
}
header figure figcaption{
    font-family:'Impact';
    color: silver;
    font-size: 5vw;
}
/*MENU*/
header nav{
    width: 480px;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin-right: 90px;
}
header nav ul li a{
    color: silver;
    transition-duration: .5s ;
}
header nav ul li a:hover {
    color: white;
    font-size:x-large;
    font-weight: 600;
}
/*MENU REPONSIVO PARA CEL*/
.mobile-menu{
    display: none;
    cursor: pointer;
    margin-left: 30vw;
    margin-top: 7vw ;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background: silver;
    margin: 8px;
    transition: 0.6s;
    
}
@media (max-width: 999px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 30vw;
        height: 92vh;
        margin-top: 7vw;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 1s ease-in;
        background-image: linear-gradient(to top,#330303,rgb(105, 0, 0),rgb(105, 0, 0));
        
    }
    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block;
    }
}

.nav-list.active {
    transform: translateX(0);
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2{
    opacity: 0;
}
.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
}
/*paragrafo*/
section p {
    color: white;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 100;
    font-size: smaller;
    letter-spacing: 5px;
    padding-top: 50px;
    text-shadow: 3px 4px 3px black;
}
/* lista de filmes*/
main.conteudo{
    width: 90%;
    margin:  auto;
}
section ul.categorias{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 30px 0 30px;
    padding-left: 35px;
    padding-right: 35px;
    min-width: 320px;
   
}
section ul.categorias li a{
    color: white;
    background-color: #2f2f2f;
    display: block;
    width: 150px;
    text-align: center;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.37);
    transition-duration: .3s;
}
section ul.categorias li a:hover {
    color: #2f2f2f;
    background-color: white;
    font-size: large;
    font-weight: bold;
}
section ul.listaFilme{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
main section div.pesquisa input{
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #1c1c1c;
}
main section div.pesquisa button{
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 10px;
    cursor:pointer;
    box-shadow: 3px 3px 3px #1c1c1c;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}
main section div.pesquisa button:active{
    background-color: red;
    color: silver;
}
section ul.listaFilme li{
    max-width: 185px; 
    cursor:pointer;
    
}
section ul.listaFilme li figure h2{
    color: white;
    font-size: 17px;
    text-align: center;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 3px 4px 3px #1c1c1c;
}
section ul.listaFilme li figure img{
    width: 100%;
    transition-duration: 1s;
    box-shadow: 1px 6px 6px #1c1c1c;
}
section ul.listaFilme li figure img:hover{
    width: 116%;
    backface-visibility: hidden;
    transform: translate(-6.5%, 0%);
}
footer{
    background-image:linear-gradient( to top,#330303,rgb(105, 0, 0),rgb(105, 0, 0));
    padding: 20px;
    box-shadow: 0px -6px 8px rgba(0, 0, 0, 0.904);
    position: absolute;
}
footer ul code {
    font-family: Impact;
    font-size: 21px;
    text-decoration: none;
    text-shadow: 6px 5px 5px #0e0d0d;
    color: silver;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 50px;
    margin-right: 50px;

}
footer{
    text-decoration: none;
    width: 97%;
    position: relative;
}
footer ul code li a{
    text-shadow: 6px 5px 5px #0e0d0d;
    color: silver;
    text-decoration: none;
    font-weight: lighter;

}
footer ul code li:hover{
    text-decoration: underline;
    font-size: 22px;
}
